@font-face {
  font-family: "axis";
  font-display: swap;
  src: url("../fonts/Axis-Bold/Axis-Bold.woff") format("woff"), url("../fonts/Axis-Bold/Axis-Bold.woff2") format("woff2"), url("../fonts/Axis-Bold/Axis-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.35;
  -webkit-text-size-adjust: 100%;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-weight: 700;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #0980EE;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: #0980EE;
}

a:focus {
  outline: 1px solid #0980EE;
}

a:hover,
a:active {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

picture {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

label,
legend,
figure {
  margin: 0;
  padding: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button {
  padding: 0;
}

button:focus {
  padding: 0;
}

.main {
  position: relative;
  padding-top: 79px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1090px;
  width: 100%;
  clear: both;
}

.fade-leave-active {
  -webkit-animation: fadeOut 0.5s linear forwards;
          animation: fadeOut 0.5s linear forwards;
}

.fade-enter {
  visibility: hidden;
}

.fade-enter-active {
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button {
  position: relative;
  padding: 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 4px;
  background-color: #0980EE;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
}

.button:hover::before,
.button:focus::before {
  opacity: 0.2;
}

.button[disabled] {
  cursor: text;
  pointer-events: none;
  opacity: 0.8;
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  color: black;
  text-transform: none;
}

.title--center {
  text-align: center;
}

.logo {
  font-family: axis, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.logo:hover {
  color: rgba(255, 255, 255, 0.8);
}

.logo--blue {
  color: #0980EE;
}

.logo--blue:hover {
  color: rgba(9, 128, 238, 0.8);
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 79px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.header .container {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__collapse {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__overlay {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  opacity: 0;
  cursor: pointer;
}

.header__overlay--active {
  opacity: 0.5;
  display: block;
}

.header__phone {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  text-decoration: none;
  color: #0980EE;
}

.header__phone::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 0%;
  height: 2px;
  background-color: #0980EE;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.header__phone:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #0980EE;
}

.header__phone:hover::after {
  width: 100%;
}

.header__nav {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav:not(:first-child) {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
}

.header__submenu-open {
  position: relative;
  margin-left: 20px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30px;
  height: 27px;
  cursor: pointer;
}

.header__submenu-open span {
  display: block;
  width: 77%;
  height: 3px;
  border-radius: 3px;
  background-color: #212733;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.header__submenu-open span::after,
.header__submenu-open span::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #222;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.header__submenu-open span::before {
  top: 0;
}

.header__submenu-open span::after {
  bottom: 0;
  width: 53%;
}

.header__submenu-close {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  opacity: 0.3;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  cursor: pointer;
}

.header__submenu-close::before,
.header__submenu-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: white;
}

.header__submenu-close::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.header__submenu-close::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.header__submenu-close:hover {
  opacity: 0.6;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:first-child) {
  margin-left: 38px;
}

.nav__item--active .nav__link::after {
  width: 100%;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21429;
  text-align: center;
  color: black;
  text-decoration: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  height: 2px;
  width: 0;
  background-color: #0980EE;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.nav__link:hover {
  color: black;
}

.nav__link:hover::after {
  width: 100%;
}

.footer {
  position: relative;
  padding-top: 50px;
  padding-bottom: 54px;
  background-color: #1B1B1B;
}

.footer__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: white;
}

.footer__contacts-list {
  margin-top: 3px;
}

.footer__contacts-item {
  position: relative;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21429;
  color: white;
}

.footer__contacts-item svg {
  margin-right: 6px;
}

.footer__contacts-item a,
.footer__contacts-item a:hover {
  color: inherit;
  text-decoration: none;
}

.footer__contacts-item--address svg {
  width: 9.75px;
  height: 12.19px;
}

.footer__contacts-item--phone svg {
  width: 12.63px;
  height: 12.62px;
}

.footer__contacts-item--mail svg {
  width: 13px;
  height: 9.35px;
}

.footer__copy {
  margin-top: 72px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21429;
  color: white;
  text-align: center;
}

.hero {
  position: relative;
  padding-top: 160px;
  padding-bottom: 125px;
  background-color: #004584;
  background-image: url(../img/hero/background.jpg);
  background-size: cover;
  background-position: center bottom;
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  text-align: center;
  color: white;
}

.hero__achievements {
  position: relative;
  margin-top: 46px;
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__achievements::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 150px;
  background-color: #0980EE;
}

.hero__achievement {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  color: white;
}

.hero__achievement b {
  font-size: 36px;
  line-height: 1.22222;
}

.hero__achievement:not(:last-child)::after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22222;
  color: inherit;
}

.projects {
  padding-top: 80px;
  padding-bottom: 50px;
}

.projects__list {
  margin-top: 38px;
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% + 30px);
}

.projects__item {
  margin: 32px 15px 0;
  width: calc(50% - 30px);
  min-width: 500px;
}

.projects__card {
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  position: relative;
  padding: 34px 50px 21px 30px;
  width: 500px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-image: -o-linear-gradient(340.34deg, #020202 1.95%, #494646 99.43%);
  background-image: linear-gradient(109.66deg, #020202 1.95%, #494646 99.43%);
}

.project-card__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.project-card__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23333;
  color: white;
}

.project-card__description {
  margin-top: 32px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.project-card__description-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21429;
  color: white;
}

.project-card__more-link {
  margin-top: auto;
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: #fefefe;
  text-decoration: none;
}

.project-card__more-link:hover {
  color: #fefefe;
  outline: none;
}

.project-card__more-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.project-card__more-link-arrow {
  position: relative;
  margin-left: 11px;
  width: 17px;
  height: 2px;
  background-color: #fefefe;
}

.project-card__more-link-arrow::before,
.project-card__more-link-arrow:after {
  content: "";
  position: absolute;
  right: -3px;
  display: block;
  height: 2px;
  width: 11px;
  border-radius: 2px;
  background-color: #fefefe;
}

.project-card__more-link-arrow::before {
  top: -3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.project-card__more-link-arrow::after {
  bottom: -3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.project-card__image-block {
  border-radius: 10px;
  border: 2px solid #d7ff64;
  overflow: hidden;
}

.project-card__image-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-card--purple {
  background-image: -o-linear-gradient(340.2deg, #7a3dfb 0%, #ea40ee 100%);
  background-image: linear-gradient(109.8deg, #7a3dfb 0%, #ea40ee 100%);
}

.project-card--purple .project-card__image-block {
  border-color: #bb64ff;
}

.project-card--blue {
  background-image: -o-linear-gradient(340.2deg, #154ffb 0%, #7ee2f8 100%);
  background-image: linear-gradient(109.8deg, #154ffb 0%, #7ee2f8 100%);
}

.project-card--blue .project-card__image-block {
  border-color: #6590ff;
}

.project-card--red {
  background-image: -o-linear-gradient(339.85deg, #e60606 1.39%, #e6cf06 100%);
  background-image: linear-gradient(110.15deg, #e60606 1.39%, #e6cf06 100%);
}

.project-card--red .project-card__image-block {
  border-color: #ff4545;
}

.project-card--yellow-green {
  background-image: -o-linear-gradient(340.34deg, #48ba14 1.03%, #fbcc54 99.43%);
  background-image: linear-gradient(109.66deg, #48ba14 1.03%, #fbcc54 99.43%);
}

.project-card--yellow-green .project-card__image-block {
  border-color: #d7ff64;
}

.project-card--turquoise {
  background-image: -o-linear-gradient(340.2deg, #007e80 0%, #84fee1 100%);
  background-image: linear-gradient(109.8deg, #007e80 0%, #84fee1 100%);
}

.project-card--turquoise .project-card__image-block {
  border-color: #ff4545;
}

.project-card--green {
  background-image: -o-linear-gradient(340.34deg, #0f8622 1.03%, #c4ff89 99.43%);
  background-image: linear-gradient(109.66deg, #0f8622 1.03%, #c4ff89 99.43%);
}

.project-card--green .project-card__image-block {
  border-color: #d7ff64;
}

.project-card--orange-turquoise {
  background-image: -o-linear-gradient(340.63deg, #bb8702 0.61%, #5cf2e9 100%);
  background-image: linear-gradient(109.37deg, #bb8702 0.61%, #5cf2e9 100%);
}

.project-card--orange-turquoise .project-card__image-block {
  border-color: #ff4545;
}

.project-card--dark {
  background-image: -o-linear-gradient(340.34deg, #020202 1.95%, #494646 99.43%);
  background-image: linear-gradient(109.66deg, #020202 1.95%, #494646 99.43%);
}

.project-card--dark .project-card__image-block {
  border-color: #d7ff64;
}

.about {
  padding-top: 80px;
  padding-bottom: 110px;
}

.about__description {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  color: #777;
}

.about__description b {
  font-weight: 700;
  color: black;
}

.about__description--center {
  margin-top: 40px;
  max-width: 900px;
  text-align: center;
}

.outstaff {
  padding-top: 80px;
  padding-bottom: 140px;
}

.outstaff__item {
  margin-top: 56px;
}

.outstaff-card {
  padding-top: 50px;
  padding-left: 32px;
  padding-bottom: 50px;
  padding-right: 32px;
  border: 4px solid #0980EE;
}

.outstaff-card__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  color: black;
}

.outstaff-card__description {
  margin-top: 36px;
  padding-right: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22222;
  color: #484848;
}

.outstaff-card__hidden-block {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.outstaff-card__charx-list {
  margin-top: 21px;
  margin-left: -10px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.outstaff-card__charx-item {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: auto;
}

.outstaff-card__footer {
  position: relative;
  margin-top: 44px;
  padding-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.outstaff-card__footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #0980EE;
}

.outstaff-card__salary {
  margin-right: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  color: black;
}

.outstaff-card__salary > * {
  display: inline-block;
}

.outstaff-card__salary:first-child {
  margin-right: 47px;
}

.outstaff-card__salary-value {
  font-weight: 600;
  color: #0980EE;
}

.outstaff-card__more-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #535353;
  background: transparent;
  cursor: pointer;
}

.outstaff-card__more-btn-arrow {
  position: relative;
  margin-left: 22px;
  width: 0;
  height: 0;
}

.outstaff-card__more-btn-arrow::before,
.outstaff-card__more-btn-arrow::after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 3px;
  background-color: #535353;
}

.outstaff-card__more-btn-arrow::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -3px;
}

.outstaff-card__more-btn-arrow::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -3px;
}

.characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.characteristic__icon {
  margin-right: 13px;
  display: block;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../img/sprite/sprite.png");
}

.characteristic__type {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: black;
}

.characteristic__value {
  margin-top: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22222;
  color: black;
}

.characteristic--place-of-work .characteristic__icon {
  background-position: -45px 0px;
}

.characteristic--technology .characteristic__icon {
  background-position: 0px 0px;
}

.characteristic--level .characteristic__icon {
  background-position: 0px -45px;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 30px;
  }

  .header__collapse {
    position: fixed;
    top: 0;
    right: 0;
    padding: 42px 80px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 590px;
    width: 100%;
    height: 100vh;
    background-color: #191A1E;
    z-index: 300;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }

  .header__collapse--opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    overflow-y: auto;
  }

  .header__collapse > * {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .header__submenu-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .nav__item {
    margin: 10px 0;
  }

  .nav__item:not(:first-child) {
    margin-left: 0;
  }

  .nav__link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 18px;
    line-height: 1.22222;
    color: white;
  }

  .nav__link::after {
    height: 1px;
    bottom: 8px;
  }

  .nav__link:hover {
    color: white;
  }

  .hero__title {
    font-size: 30px;
  }

  .hero__achievement b {
    font-size: 30px;
  }

  .projects {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .projects__list {
    margin-top: 18px;
  }

  .project-card__more-link {
    margin-bottom: 30px;
  }

  .about {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .about__description {
    margin-top: 50px;
  }

  .outstaff {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .outstaff__item {
    margin-top: 46px;
  }

  .outstaff-card {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .outstaff-card__title {
    font-size: 30px;
  }

  .outstaff-card__footer {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .outstaff-card__salary {
    font-size: 30px;
  }

  .outstaff-card__salary:first-child {
    margin-right: 10px;
  }

  .outstaff-card__more-btn {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 64px;
  }

  .container {
    padding: 0 12px;
  }

  .header {
    height: 64px;
  }
}

@media screen and (max-width: 576px) {
  .main {
    padding-top: 50px;
  }

  .title {
    font-size: 24px;
  }

  .header {
    height: 50px;
  }

  .header__logo {
    font-size: 20px;
  }

  .header__collapse {
    padding: 30px 40px;
  }

  .header__submenu-open {
    height: 20px;
    width: 27px;
  }

  .footer__main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__main-block > *:not(:first-child) {
    margin-top: 30px;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__copy {
    text-align: left;
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .hero__achievement b {
    font-size: 24px;
  }

  .projects__list {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .projects__item {
    margin-left: 0;
    margin-right: 0;
    min-width: initial;
    width: auto;
  }

  .project-card {
    padding: 20px;
    max-width: 500px;
    width: auto;
  }

  .project-card__title {
    font-size: 24px;
  }

  .project-card__more-link {
    margin-bottom: 10px;
  }

  .outstaff-card {
    padding: 15px;
  }

  .outstaff-card__title {
    font-size: 24px;
  }

  .outstaff-card__salary {
    font-size: 24px;
  }

  .outstaff-card__more-btn {
    font-size: 18px;
  }

  .outstaff-card__more-btn-arrow {
    margin-left: 16px;
  }

  .outstaff-card__more-btn-arrow::before,
  .outstaff-card__more-btn-arrow::after {
    width: 10px;
    height: 2px;
  }

  .outstaff-card__more-btn-arrow::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -2px;
  }

  .outstaff-card__more-btn-arrow::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: -2px;
  }
}