@font-face {
  font-family: "axis";
  font-display: swap;
  src: url("../fonts/Axis-Bold/Axis-Bold.woff") format("woff"), url("../fonts/Axis-Bold/Axis-Bold.woff2") format("woff2"), url("../fonts/Axis-Bold/Axis-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.35;
  -webkit-text-size-adjust: 100%;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-weight: 700;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #0980EE;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: #0980EE;
}

a:focus {
  outline: 1px solid #0980EE;
}

a:hover,
a:active {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

picture {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

label,
legend,
figure {
  margin: 0;
  padding: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button {
  padding: 0;
}

button:focus {
  padding: 0;
}

.main {
  position: relative;
  padding-top: 79px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1090px;
  width: 100%;
  clear: both;
}

.fade-leave-active {
  -webkit-animation: fadeOut 0.5s linear forwards;
          animation: fadeOut 0.5s linear forwards;
}

.fade-enter {
  visibility: hidden;
}

.fade-enter-active {
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button {
  position: relative;
  padding: 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 4px;
  background-color: #0980EE;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
}

.button:hover::before,
.button:focus::before {
  opacity: 0.2;
}

.button[disabled] {
  cursor: text;
  pointer-events: none;
  opacity: 0.8;
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  color: black;
  text-transform: none;
}

.title--center {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 79px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.header .container {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__logo {
  font-family: axis, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: #0980EE;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.header__logo:hover {
  color: rgba(9, 128, 238, 0.8);
}

.header__phone {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  text-decoration: none;
  color: #0980EE;
}

.header__phone::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 0%;
  height: 2px;
  background-color: #0980EE;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.header__phone:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #0980EE;
}

.header__phone:hover::after {
  width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:first-child) {
  margin-left: 38px;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21429;
  text-align: center;
  color: black;
  text-decoration: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  display: block;
  height: 1px;
  width: 0;
  background-color: black;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.nav__link:hover {
  color: black;
}

.nav__link:hover::after {
  width: 100%;
}

.footer {
  position: relative;
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #1B1B1B;
}

.hero {
  position: relative;
  padding-top: 160px;
  padding-bottom: 125px;
  background-color: #004584;
  background-image: url(../img/hero/background.jpg);
  background-size: cover;
  background-position: center bottom;
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  text-align: center;
  color: white;
}

.hero__achievements {
  position: relative;
  margin-top: 46px;
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__achievements::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 150px;
  background-color: #0980EE;
}

.hero__achievement {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  color: white;
}

.hero__achievement b {
  font-size: 36px;
  line-height: 1.22222;
}

.hero__achievement:not(:last-child)::after {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22222;
  color: inherit;
}

.projects {
  padding-top: 80px;
  padding-bottom: 50px;
}

.projects__list {
  margin-top: 38px;
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% + 30px);
}

.projects__item {
  margin: 32px 15px 0;
  width: calc(50% - 30px);
  min-width: 500px;
}

.projects__card {
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  position: relative;
  padding: 34px 50px 21px 30px;
  width: 500px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-image: -o-linear-gradient(340.34deg, #020202 1.95%, #494646 99.43%);
  background-image: linear-gradient(109.66deg, #020202 1.95%, #494646 99.43%);
}

.project-card__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.project-card__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.23333;
  color: white;
}

.project-card__description {
  margin-top: 32px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.project-card__description-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21429;
  color: white;
}

.project-card__more-link {
  margin-top: auto;
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: #FEFEFE;
  text-decoration: none;
}

.project-card__more-link:hover {
  color: #FEFEFE;
  outline: none;
}

.project-card__more-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.project-card__more-link-arrow {
  position: relative;
  margin-left: 11px;
  width: 17px;
  height: 2px;
  background-color: #FEFEFE;
}

.project-card__more-link-arrow::before,
.project-card__more-link-arrow:after {
  content: '';
  position: absolute;
  right: -3px;
  display: block;
  height: 2px;
  width: 11px;
  border-radius: 2px;
  background-color: #FEFEFE;
}

.project-card__more-link-arrow::before {
  top: -3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.project-card__more-link-arrow::after {
  bottom: -3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.project-card__image-block {
  border-radius: 10px;
  border: 2px solid #D7FF64;
  overflow: hidden;
}

.project-card__image-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-card--purple {
  background-image: -o-linear-gradient(340.2deg, #7A3DFB 0%, #EA40EE 100%);
  background-image: linear-gradient(109.8deg, #7A3DFB 0%, #EA40EE 100%);
}

.project-card--purple .project-card__image-block {
  border-color: #BB64FF;
}

.project-card--blue {
  background-image: -o-linear-gradient(340.2deg, #154FFB 0%, #7EE2F8 100%);
  background-image: linear-gradient(109.8deg, #154FFB 0%, #7EE2F8 100%);
}

.project-card--blue .project-card__image-block {
  border-color: #6590FF;
}

.project-card--red {
  background-image: -o-linear-gradient(339.85deg, #E60606 1.39%, #E6CF06 100%);
  background-image: linear-gradient(110.15deg, #E60606 1.39%, #E6CF06 100%);
}

.project-card--red .project-card__image-block {
  border-color: #FF4545;
}

.project-card--yellow-green {
  background-image: -o-linear-gradient(340.34deg, #48BA14 1.03%, #FBCC54 99.43%);
  background-image: linear-gradient(109.66deg, #48BA14 1.03%, #FBCC54 99.43%);
}

.project-card--yellow-green .project-card__image-block {
  border-color: #D7FF64;
}

.project-card--turquoise {
  background-image: -o-linear-gradient(340.2deg, #007E80 0%, #84FEE1 100%);
  background-image: linear-gradient(109.8deg, #007E80 0%, #84FEE1 100%);
}

.project-card--turquoise .project-card__image-block {
  border-color: #FF4545;
}

.project-card--green {
  background-image: -o-linear-gradient(340.34deg, #0F8622 1.03%, #C4FF89 99.43%);
  background-image: linear-gradient(109.66deg, #0F8622 1.03%, #C4FF89 99.43%);
}

.project-card--green .project-card__image-block {
  border-color: #D7FF64;
}

.project-card--orange-turquoise {
  background-image: -o-linear-gradient(340.63deg, #BB8702 0.61%, #5CF2E9 100%);
  background-image: linear-gradient(109.37deg, #BB8702 0.61%, #5CF2E9 100%);
}

.project-card--orange-turquoise .project-card__image-block {
  border-color: #FF4545;
}

.project-card--dark {
  background-image: -o-linear-gradient(340.34deg, #020202 1.95%, #494646 99.43%);
  background-image: linear-gradient(109.66deg, #020202 1.95%, #494646 99.43%);
}

.project-card--dark .project-card__image-block {
  border-color: #D7FF64;
}

.about {
  padding-top: 80px;
  padding-bottom: 110px;
}

.about__description {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  color: #777;
}

.about__description b {
  font-weight: 700;
  color: black;
}

.about__description--center {
  margin-top: 40px;
  max-width: 900px;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .title {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}