@font-face {
  font-family: "helioscond";
  font-display: swap;
  src: url("../fonts/HeliosCond-Bold/HeliosCond-Bold.woff") format("woff"), url("../fonts/HeliosCond-Bold/HeliosCond-Bold.woff2") format("woff2"), url("../fonts/HeliosCond-Bold/HeliosCond-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: normal;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #252525;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-weight: 700;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #252525;
}

a:hover {
  text-decoration: none;
  color: #252525;
}

picture {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  border: none;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

label,
legend,
figure {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  padding: 0;
}

button:focus {
  padding: 0;
}

.main {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
}

.header__main {
  width: calc(100% + 30px);
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__nav {
  margin-top: 29px;
}

.header__column {
  margin: 0 15px;
}

.header__column--full {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__logo {
  margin-top: 18px;
}

.header__top {
  margin-top: 18px;
}

.header__bottom {
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__banner {
  width: 253px;
  height: 70px;
  background-color: #e2e2e2;
}

.logo {
  display: block;
  width: 210px;
  text-decoration: none;
}

.logo__img {
  display: block;
  width: 100%;
  height: auto;
}

.logo__text {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: helioscond, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  border-radius: 10px;
  background-color: #252525;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar__item {
  height: 100%;
}

.navbar__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.navbar__link:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
}

.navbar__link--active {
  color: #333333;
  background-color: #ffcc00;
}

.navbar__link--active:hover {
  background-color: rgba(255, 204, 0, 0.95);
  color: #333333;
}

.navbar__sale-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 14px;
  padding-right: 13px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffcc00;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.navbar__sale-link:hover {
  color: #333333;
  background-color: rgba(255, 204, 0, 0.95);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 39px;
  height: 100%;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.search__input {
  height: 100%;
  padding: 0;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  width: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
  padding-right: 9px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #ffcc00;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.search__btn:hover {
  color: #333333;
  background-color: rgba(255, 204, 0, 0.95);
}

.search__btn:focus {
  padding-left: 11px;
  padding-right: 9px;
}

.search__btn-icon {
  width: 19px;
  height: 19px;
  fill: none;
  stroke: #333333;
  stroke-width: 3px;
}

.search--active {
  width: 180px;
}

.search--active .search__input {
  width: 0;
  padding-left: 6px;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #d7d7d7;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 22px;
}

.menu__link {
  position: relative;
  display: block;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  color: #252525;
  text-decoration: none;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.menu__link:hover {
  color: #252525;
}

.menu__link:hover::before {
  opacity: 0.75;
}

.menu__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__auth .menu__link:not(:last-child) {
  margin-right: 28px;
}

.menu__auth .menu__link:not(:last-child):after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  right: -15px;
  width: 1px;
  height: 10px;
  background-color: #252525;
}

.basket__item:not(:first-child) {
  margin-top: 13px;
}

.basket__link {
  position: relative;
  padding-left: 30px;
  text-decoration: none;
}

.basket__link:hover .basket__type::before {
  width: 0;
}

.basket__icon {
  position: absolute;
  fill-rule: evenodd;
}

.basket__icon--cart {
  width: 19px;
  height: 18px;
  top: 0;
  left: 1px;
}

.basket__icon--star {
  width: 15px;
  height: 15px;
  top: 0;
  left: 4px;
}

.basket__icon--balance {
  width: 18px;
  height: 16px;
  top: 0;
  left: 3px;
}

.basket__type {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  color: #252525;
}

.basket__type::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252525;
  z-index: 1;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preview__item:not(:last-child) {
  margin-right: 12px;
}

.preview__link {
  width: 72px;
  height: 72px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d9d9d9;
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.preview__link:hover {
  border-color: #252525;
}

.contacts__working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__hours-title {
  font-weight: 700;
  font-size: 12px;
  color: #252525;
}

.contacts__hours-time {
  font-weight: 400;
  font-size: 12px;
  color: #252525;
}

.contacts__phone {
  position: relative;
  margin-top: 16px;
  display: block;
  font-weight: 700;
  font-size: 25px;
  color: #252525;
  text-decoration: none;
}

.contacts__phone::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #252525;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.contacts__phone:hover {
  color: #252525;
}

.contacts__phone:hover::before {
  width: 100%;
}

.contacts__city-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  padding-top: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__city-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d7d7d7;
}

.contacts__city {
  font-weight: 400;
  font-size: 12px;
  color: #252525;
}

.contacts__change-btn {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  color: #252525;
  text-decoration: none;
}

.contacts__change-btn::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -12px;
  display: block;
  width: 0;
  height: 0;
  background-color: transparent;
  border: 5px solid transparent;
  border-left: 8px solid #333333;
}

.contacts__change-btn::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-image: -o-radial-gradient(center, circle, #252525 0, #252525 25%, transparent 25%, transparent 100%);
  background-image: radial-gradient(circle at center, #252525 0, #252525 25%, transparent 25%, transparent 100%);
  background-repeat: repeat-x;
  background-size: 3px;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.contacts__change-btn:hover {
  color: #252525;
}

.contacts__change-btn:hover::after {
  opacity: 0;
}

.modal {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: opacity ease 0.25s;
  -o-transition: opacity ease 0.25s;
  transition: opacity ease 0.25s;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__wrapper {
  position: relative;
  width: 100%;
  pointer-events: none;
}

.modal__container {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  display: none;
  pointer-events: visible;
}

.modal__content-block {
  width: 50%;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: opacity ease 0.25s;
  -o-transition: opacity ease 0.25s;
  transition: opacity ease 0.25s;
}

.modal__close-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  top: 0;
  left: 7px;
  background-color: #777;
}

.modal__close-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 7px;
  left: 0;
  background-color: #777;
}

.modal__close-btn:hover {
  opacity: 0.65;
}

.modal--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal--visible {
  opacity: 1;
}

.modal__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.37;
  text-align: center;
}

.modal__form {
  padding-top: 20px;
}

.modal-form__field {
  padding-bottom: 20px;
}

.modal-form__label {
  display: inline-block;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: left;
}

.modal-form__input {
  padding-left: 21px;
  padding-right: 14px;
  margin-right: 15px;
  min-height: 36px;
  width: 100%;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  font-size: 12px;
  color: #252525;
  -webkit-transition: border-color 0.25s ease;
  -o-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

.modal-form__submit-btn {
  position: relative;
  margin-top: 8px;
  width: 100%;
  min-height: 40px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 12px;
  background-color: #ffcc00;
  color: #252525;
}