@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Italic/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic/Montserrat-Italic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.35;
  -webkit-text-size-adjust: 100%;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-weight: 700;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: 1px solid #444;
}

a:hover,
a:active {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

picture {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

label,
legend,
figure {
  margin: 0;
  padding: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button {
  padding: 0;
}

button:focus {
  padding: 0;
}

.main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1030px;
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.33333;
  color: black;
  text-transform: none;
  text-align: center;
}

.title b {
  font-weight: 600;
}

.title__accent {
  color: #FECD00;
}

.fade-leave-active {
  -webkit-animation: fadeOut 0.5s linear forwards;
          animation: fadeOut 0.5s linear forwards;
}

.fade-enter {
  visibility: hidden;
}

.fade-enter-active {
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button {
  position: relative;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: #FECD00;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
}

.button:hover::before,
.button:focus::before {
  opacity: 0.2;
}

.button[disabled] {
  cursor: text;
  pointer-events: none;
  opacity: 0.8;
}

.button--green {
  background-color: #0FC830;
}

.button--black {
  background-color: #393939;
}

.arrow {
  position: absolute;
  top: calc(50% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  z-index: 1;
}

.arrow--next {
  right: 0;
}

.arrow--prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.arrow--disabled {
  opacity: 0.6;
  cursor: auto;
  pointer-events: none;
}

.arrow:hover::before {
  opacity: 0.2;
}

.swiper-button-lock {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 22px 0 11px;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  -webkit-transition: background-color 0.25s ease, padding-top 0.25s ease;
  -o-transition: background-color 0.25s ease, padding-top 0.25s ease;
  transition: background-color 0.25s ease, padding-top 0.25s ease;
}

.header--not-top {
  padding: 18px 0 11px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  line-height: 0;
  text-decoration: none;
}

.header__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  position: relative;
  margin: 0 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: white;
  text-decoration: none;
}

.header__phone::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: white;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.header__phone:hover {
  color: white;
}

.header__phone:hover::after {
  width: 100%;
}

.header__socials {
  margin-top: -8px;
  margin-bottom: -8px;
  margin-right: -8px;
  margin-left: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin: 8px;
}

.socials__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

.socials__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  z-index: -1;
}

.socials__link--blue {
  background-color: #2F89CE;
}

.socials__link--green {
  background-color: #48C95F;
}

.socials__link--purple {
  background-color: #7C509A;
}

.socials__link:hover::after {
  opacity: 0.2;
}

.socials__icon {
  fill: white;
}

.socials__icon--telegram {
  width: 14.2px;
  height: 12.38px;
}

.socials__icon--whatsapp {
  width: 14.91px;
  height: 14.91px;
}

.socials__icon--viber {
  width: 14.41px;
  height: 16.33px;
}

.modal {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: opacity ease 0.25s;
  -o-transition: opacity ease 0.25s;
  transition: opacity ease 0.25s;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal__wrapper {
  position: relative;
  padding: 0 15px;
  width: 100%;
  pointer-events: none;
}

.modal__container {
  position: relative;
  margin: 130px auto;
  padding: 28px 46px 39px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 585px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 0px;
  background: white;
  pointer-events: visible;
  overflow: hidden;
}

.modal__container--upload {
  max-width: 560px;
  border-radius: 0;
}

.modal__success {
  position: relative;
  margin: 130px auto;
  padding: 41px 46px 54px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  background: white;
  pointer-events: visible;
  overflow: hidden;
}

.modal__success-icon {
  width: 51px;
  height: 51px;
  fill: transparent;
}

.modal__success-text {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  text-align: center;
  color: #888888;
}

.modal__close-btn {
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  width: 14px;
  height: 14px;
  -webkit-transition: opacity ease 0.25s;
  -o-transition: opacity ease 0.25s;
  transition: opacity ease 0.25s;
  opacity: 1;
}

.modal__close-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 125%;
  top: -2px;
  left: 6px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 125%;
  height: 2px;
  top: 6px;
  left: -2px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close-btn:hover {
  opacity: 0.65;
}

.modal--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal--visible {
  opacity: 1;
}

.modal__title {
  max-width: 480px;
  margin: 0 -6px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.11538;
  text-transform: uppercase;
  text-align: left;
}

.modal__form {
  margin-top: 31px;
}

.modal-form__field {
  position: relative;
  margin-top: -5px;
  margin-bottom: -5px;
  display: block;
  width: 100%;
}

.modal-form__field:not(:first-child) {
  margin-top: 22px;
}

.modal-form__field--phone .modal-form__input {
  padding-left: 50px;
}

.modal-form__field--phone svg {
  position: absolute;
  top: 22px;
  left: 16px;
  display: block;
  width: 26px;
  height: 20px;
  cursor: text;
}

.modal-form__input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 20px;
  height: 58px;
  width: 100%;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: black;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.modal-form__input::-webkit-input-placeholder {
  color: #888888;
}

.modal-form__input::-moz-placeholder {
  color: #888888;
}

.modal-form__input:-ms-input-placeholder {
  color: #888888;
}

.modal-form__input::-ms-input-placeholder {
  color: #888888;
}

.modal-form__input::placeholder {
  color: #888888;
}

.modal-form__uload-file-title {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}

.modal-form__uload-file {
  margin-top: 13px;
}

.modal-form__agreement {
  position: relative;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
  color: #000000;
}

.modal-form__agreement-checkbox {
  margin-right: 7px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.modal-form__submit-btn {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: 50px;
  border-radius: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-shadow: initial;
  color: #ffffff;
}

.form-status {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  display: none;
  color: black;
}

.form-status--fault {
  color: #ff2222;
}

.uload-file {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uload-file__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  z-index: -100;
}

.uload-file__input:hover + *::before {
  opacity: 0.2;
}

.uload-file__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 38px;
  background-color: #fecd00;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
}

.uload-file__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.uload-file__message {
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox input:not(:checked) + .checkbox__icon {
  display: none;
}

.checkbox__icon {
  width: 16px;
  height: 16px;
  display: block;
  fill: #000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  width: 100%;
  background-color: #393939;
}

.footer__rights {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: white;
}

.hero {
  position: relative;
  padding: 160px 0 60px;
  background-image: url(../img/hero/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 730px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: white;
  text-align: left;
}

.hero__we-work {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__we-work-image {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #fecd00;
  border-radius: 50%;
}

.hero__we-work-image::after {
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  display: block;
  width: 55px;
  height: 55px;
  background-image: url(../img/hero/document.png);
}

.hero__we-work-star {
  display: none;
}

.hero__we-work-text {
  margin-left: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  color: white;
}

.hero__feedback-btn {
  margin-top: 40px;
  max-width: 300px;
}

.hero__achievements-list {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero__achievements-item {
  position: relative;
  padding-left: 13px;
  max-width: 208px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.07143;
  color: white;
}

.hero__achievements-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 100%;
  background-color: white;
}

.hero__achievements-item:not(:first-child) {
  margin-left: 38px;
}

.hero__achievements-item:last-child {
  margin-left: 75px;
}

.hero__achievements-number {
  font-weight: 700;
  line-height: 1.11111;
  font-size: 36px;
}

.about {
  padding-top: 58px;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about__content-block {
  margin-top: 30px;
}

.about__title {
  text-align: left;
  font-size: 24px;
  line-height: 1.45833;
}

.about__list {
  margin-top: 64px;
  margin-bottom: 70px;
  list-style-type: disc;
}

.about__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
}

.about__item:not(:first-child) {
  margin-top: 15px;
}

.about__director-block {
  position: relative;
  margin-left: 60px;
}

.about__image {
  width: 364px;
  height: 510px;
  background-image: url(../img/about/director.png);
}

.about__director-info {
  position: absolute;
  top: 140px;
  right: -160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__director-name,
.about__director-position {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  text-align: center;
  color: black;
}

.about__director-name {
  font-weight: 600;
}

.about__director-sign {
  margin-top: 9px;
  width: 110px;
  height: 69px;
  background-image: url(../img/about/sign.png);
}

.portfolio {
  padding: 50px 0;
  background-color: #f4f4f4;
}

.portfolio__slider {
  position: relative;
  margin-top: 50px;
}

.portfolio__wrapper {
  position: relative;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  width: calc(100% + 20px);
  overflow: hidden;
}

.portfolio__list {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.portfolio__slide {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.portfolio__item {
  margin-left: auto;
  margin-right: auto;
}

.portfolio__navigation {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.portfolio__arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: auto;
  cursor: pointer;
}

.portfolio__arrow--prev {
  margin-right: 34px;
}

.portfolio__arrow--prev .portfolio__arrow-icon::before,
.portfolio__arrow--prev .portfolio__arrow-icon::after {
  left: 0;
}

.portfolio__arrow--prev .portfolio__arrow-icon::before {
  top: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio__arrow--prev .portfolio__arrow-icon::after {
  top: -2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio__arrow--next {
  margin-left: 34px;
}

.portfolio__arrow--next .portfolio__arrow-icon::before,
.portfolio__arrow--next .portfolio__arrow-icon::after {
  right: 0;
}

.portfolio__arrow--next .portfolio__arrow-icon::before {
  top: -2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio__arrow--next .portfolio__arrow-icon::after {
  top: 2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio__arrow--disabled {
  opacity: 0.6;
  cursor: default;
}

.portfolio__arrow-icon {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: black;
}

.portfolio__arrow-icon::before,
.portfolio__arrow-icon::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 8px;
  border-radius: 2px;
  background-color: inherit;
}

.portfolio__pagination {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  text-align: center;
  color: black;
}

.portfolio-card {
  position: relative;
  padding: 31px 29px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.portfolio-card__image-block {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 380px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio-card__image-block img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.portfolio-card__content {
  margin-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio-card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.58333;
  color: black;
}

.portfolio-card__description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35714;
  color: black;
}

.portfolio-card__features-list {
  margin-top: 36px;
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio-card__features-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #000000;
}

.portfolio-card__features-item:not(:first-child) {
  margin-left: 65px;
}

.portfolio-card__features-value {
  font-weight: 600;
}

.portfolio-card__map {
  margin-top: auto;
  width: 100%;
  height: 150px;
  border: 2px solid rgba(176, 176, 176, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.stages {
  padding: 50px 0 70px;
}

.stages__slider {
  position: relative;
  margin-top: 50px;
}

.stages__tabs {
  position: relative;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  z-index: 1;
}

.stages__tabs .swiper-pagination-bullet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 112px;
  height: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #414141;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  cursor: pointer;
}

.stages__tabs .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e8e8e8;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.stages__tabs .swiper-pagination-bullet-active {
  color: #fecd00;
}

.stages__tabs .swiper-pagination-bullet-active::after {
  background-color: #fecd00;
}

.stages__tabs .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  color: #000;
}

.stages__tabs .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.stages__wrapper {
  position: relative;
  margin-top: -60px;
  margin-bottom: -60px;
  margin-left: -60px;
  margin-right: -60px;
  padding: 60px;
  width: calc(100% + 120px);
  overflow: hidden;
}

.stages__list {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.stages__slide {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0;
}

.stages__slide.swiper-slide-active {
  opacity: 1;
}

.stages__item {
  margin-left: auto;
  margin-right: auto;
}

.stages-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: -12px 0px 27px 18px rgba(0, 0, 0, 0.05);
          box-shadow: -12px 0px 27px 18px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.stages-card__image-block {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 435px;
  height: 100%;
  min-height: 395px;
  border-radius: 10px;
  overflow: hidden;
}

.stages-card__image-block img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.stages-card__content {
  margin-top: 22px;
  margin-bottom: 22px;
  margin-right: 22px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.stages-card__stage-value {
  padding: 6px 16px;
  display: inline-block;
  background-color: #fecd00;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: black;
}

.stages-card__title {
  margin-top: 22px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20833;
  color: black;
}

.stages-card__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages-card__time,
.stages-card__price {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: black;
}

.stages-card__time::before,
.stages-card__price::before {
  content: "";
  background-image: url(../img/sprite/sprite.png);
}

.stages-card__time::before {
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-position-x: -31px;
  background-position-y: -33px;
}

.stages-card__price {
  margin-left: 86px;
}

.stages-card__price::before {
  margin-right: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 27px;
  height: 27px;
  background-position-x: -33px;
  background-position-y: 0px;
}

.stages-card__functions-list {
  margin-top: 45px;
  list-style-type: disc;
}

.stages-card__functions-item {
  margin-left: 18px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.72222;
  color: #272727;
}

.upload-project {
  padding-top: 70px;
  padding-bottom: 35px;
  background-color: #fecd00;
}

.upload-project .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-project__image-block {
  margin-right: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 419px;
  height: 396px;
  background-image: url(../img/upload-project/blueprints.png);
}

.upload-project__image-block--mobile {
  margin-top: 30px;
  margin-left: 30px;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 230px;
  height: 205px;
  background-size: contain;
  background-repeat: no-repeat;
}

.upload-project__title {
  text-align: left;
  font-size: 24px;
  line-height: 1.45833;
}

.upload-project__text-block {
  margin-top: 54px;
  max-width: 430px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71429;
  color: #272727;
}

.upload-project__upload-btn {
  margin-top: 77px;
  max-width: 300px;
}

.guarantee {
  padding-top: 77px;
  padding-bottom: 86px;
}

.guarantee .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.guarantee__image-block {
  margin-right: 130px;
  margin-left: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 320px;
  height: 320px;
  background-image: url(../img/guarantee/guarantee.png);
}

.guarantee__title {
  text-align: left;
  font-size: 24px;
  line-height: 1.45833;
}

.guarantee__text-block {
  margin-top: 44px;
  max-width: 470px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  color: #272727;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #f4f4f4;
}

.reviews__list {
  margin-top: 50px;
  width: 100%;
}

.reviews__item {
  width: 100%;
}

.reviews__item:not(:first-child) {
  margin-top: 45px;
}

.review-card {
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 70px;
  padding-right: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: white;
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.review-card__author-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.review-card__image {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.review-card__image img {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.review-card__name {
  margin-top: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  color: black;
}

.review-card__position {
  margin-top: 11px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: black;
}

.review-card__text-block {
  margin-top: 19px;
  margin-left: 84px;
}

.review-card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: black;
}

.review-card__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.61111;
  color: black;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__list {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item--phone .contacts__icon::before {
  width: 24px;
  height: 24px;
  background-position-x: -65px;
  background-position-y: 0px;
}

.contacts__item--mark-pin {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__item--mark-pin .contacts__icon::before {
  width: 26px;
  height: 26px;
  background-position-x: 0px;
  background-position-y: -33px;
}

.contacts__item--mark-pin .contacts__text {
  margin-top: 9px;
}

.contacts__item--mail .contacts__icon::before {
  width: 28px;
  height: 28px;
  background-position-x: 0px;
  background-position-y: 0px;
}

.contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 58px;
  height: 58px;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
}

.contacts__icon::before {
  content: "";
  display: block;
  background-image: url(../img/sprite/sprite.png);
}

.contacts__text {
  margin-left: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

.contacts__link {
  position: relative;
  display: block;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

.contacts__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.contacts__link:hover {
  color: inherit;
}

.contacts__link:hover::after {
  width: 100%;
}

.map {
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

@media screen and (max-width: 1380px) {
  .about__director-block {
    margin-left: 30px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__list {
    margin-top: 40px;
    margin-left: 20px;
  }

  .about__director-block {
    margin-left: 100px;
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 30px;
  }

  .header {
    padding: 18px 0 9px;
  }

  .about {
    padding-top: 40px;
  }

  .portfolio-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
  }

  .portfolio-card__image-block {
    margin-left: auto;
    margin-right: auto;
    height: 340px;
    width: 100%;
  }

  .portfolio-card__image-block img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }

  .portfolio-card__content {
    margin-top: 30px;
    margin-left: 0;
  }

  .portfolio-card__title {
    font-size: 22px;
    line-height: 1.3;
  }

  .stages__tabs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    overflow: auto;
  }

  .stages__tabs .swiper-pagination-bullet {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .stages-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
  }

  .stages-card__image-block {
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    width: 100%;
  }

  .stages-card__image-block img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }

  .upload-project__image-block {
    display: none;
  }

  .upload-project__image-block--mobile {
    display: block;
  }

  .upload-project__upload-btn {
    margin-top: 40px;
  }

  .guarantee .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .guarantee__image-block {
    margin-right: 0;
    margin-left: 0;
    width: 240px;
    height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .guarantee__title {
    margin-top: 20px;
    max-width: 500px;
    text-align: center;
  }

  .guarantee__text-block {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .contacts__list {
    margin-left: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .contacts__item:not(:first-child) {
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 1.09091;
  }

  .button {
    padding-top: 18px;
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 1.07143;
  }

  .header__logo {
    width: 50px;
  }

  .header__phone {
    font-size: 20px;
    line-height: 1.2;
  }

  .header__socials {
    margin-top: -4.5px;
    margin-bottom: -4.5px;
    margin-right: -4.5px;
    margin-left: 21px;
  }

  .socials__item {
    margin: 4.5px;
  }

  .modal__container {
    padding: 30px 20px 20px;
  }

  .modal__success {
    padding: 30px 20px 20px;
  }

  .modal__close-btn {
    top: 45px;
  }

  .modal__title {
    font-size: 18px;
  }

  .modal-form__field {
    margin-top: -2px;
    margin-bottom: -2px;
  }

  .modal-form__field:not(:first-child) {
    margin-top: 14px;
  }

  .modal-form__input {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .modal-form__uload-file-title {
    font-size: 16px;
  }

  .modal-form__agreement {
    margin-top: 20px;
    padding-left: 0;
  }

  .modal-form__submit-btn {
    margin-top: 25px;
  }

  .checkbox {
    width: 18px;
    height: 18px;
  }

  .checkbox__icon {
    width: 10px;
    height: 10px;
  }

  .footer {
    min-height: 120px;
  }

  .hero {
    padding-top: 155px;
    padding-bottom: 100px;
    background-size: contain;
    background-position: top center;
    background-color: #000;
    z-index: 1;
  }

  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3395)), color-stop(50%, rgba(0, 0, 0, 0.968836)), to(rgba(0, 0, 0, 0.97)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3395) 0%, rgba(0, 0, 0, 0.968836) 50%, rgba(0, 0, 0, 0.97) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3395) 0%, rgba(0, 0, 0, 0.968836) 50%, rgba(0, 0, 0, 0.97) 100%);
    z-index: -1;
  }

  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__title {
    font-size: 22px;
    line-height: 1.09091;
  }

  .hero__we-work {
    margin-top: 25px;
  }

  .hero__we-work-image {
    display: none;
  }

  .hero__we-work-star {
    display: inline;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    color: #FA0101;
  }

  .hero__we-work-text {
    margin-left: 0;
    font-size: 12px;
    line-height: 1.08333;
  }

  .hero__feedback-btn {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .hero__achievements-item {
    padding-left: 0;
    font-size: 11px;
    line-height: 1.09091;
  }

  .hero__achievements-item::before {
    display: none;
  }

  .hero__achievements-item:not(:first-child) {
    margin-left: 35px;
  }

  .hero__achievements-item:last-child {
    margin-left: 20px;
  }

  .hero__achievements-number {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.08333;
  }

  .about {
    padding-top: 36px;
  }

  .about__title {
    font-size: 16px;
    line-height: 24px / 16px;
  }

  .about__list {
    display: none;
  }

  .about__director-block {
    margin-top: 67px;
    margin-left: 0;
  }

  .about__image {
    width: 204px;
    height: 304px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  .about__director-info {
    top: 0px;
    right: -150px;
    width: 204px;
    height: 304px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .portfolio {
    padding-top: 26px;
  }

  .portfolio__slider {
    margin-top: 26px;
  }

  .portfolio__navigation {
    margin-top: 25px;
  }

  .portfolio__arrow {
    width: 30px;
  }

  .portfolio__arrow--prev {
    margin-right: 15px;
  }

  .portfolio__arrow--next {
    margin-left: 15px;
  }

  .portfolio__pagination {
    font-size: 10px;
  }

  .portfolio-card {
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: initial;
            box-shadow: initial;
  }

  .portfolio-card__content {
    margin-top: 25px;
  }

  .portfolio-card__title {
    font-size: 18px;
  }

  .portfolio-card__description {
    margin-top: 22px;
    font-size: 12px;
  }

  .portfolio-card__features-list {
    margin-top: 35px;
    margin-bottom: 23px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .portfolio-card__features-item {
    font-size: 14px;
  }

  .portfolio-card__features-item:not(:first-child) {
    margin-left: 30px;
  }

  .portfolio-card__map {
    height: 130px;
  }

  .portfolio-card__map [class*="ymaps-2"][class*="-image"] {
    top: -46px !important;
    left: -23px !important;
    width: 46px !important;
    height: 46px !important;
    background-size: 46px 46px !important;
  }

  .stages {
    padding: 35px 0 40px;
  }

  .stages__slider {
    margin-top: 30px;
  }

  .stages__tabs {
    margin-bottom: 20px;
  }

  .stages-card__content {
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 14px;
    margin-bottom: 25px;
  }

  .stages-card__stage-value {
    padding: 4px 10px;
    font-size: 11px;
  }

  .stages-card__title {
    margin-top: 18px;
    font-size: 18px;
  }

  .stages-card__time,
  .stages-card__price {
    font-size: 12px;
  }

  .stages-card__time::before {
    margin-left: 8px;
  }

  .stages-card__price::before {
    margin-left: 8px;
  }

  .stages-card__price {
    margin-left: 60px;
  }

  .stages-card__functions-list {
    margin-top: 8px;
  }

  .stages-card__functions-item {
    margin-left: 25px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 1.66667;
  }

  .upload-project {
    padding-top: 22px;
    padding-bottom: 33px;
  }

  .upload-project__image-block {
    margin-left: auto;
    margin-right: auto;
  }

  .upload-project__title {
    font-size: 22px;
  }

  .upload-project__text-block {
    margin-top: 19px;
    font-size: 13px;
  }

  .upload-project__upload-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .guarantee {
    display: none;
  }

  .reviews {
    display: none;
  }

  .contacts__title {
    margin-left: 19px;
    text-align: left;
  }

  .contacts__list {
    margin-left: 0;
  }

  .contacts__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
  }

  .map [class*="ymaps-2"][class*="-image"] {
    top: -50px !important;
    left: -25px !important;
    width: 50px !important;
    height: 50px !important;
    background-size: 50px 50px !important;
  }
}

@media screen and (max-width: 576px) {
  .header__contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }

  .header__socials {
    margin-top: 0;
  }

  .hero::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3395)), color-stop(29.55%, rgba(0, 0, 0, 0.968836)), to(rgba(0, 0, 0, 0.97)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3395) 0%, rgba(0, 0, 0, 0.968836) 29.55%, rgba(0, 0, 0, 0.97) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3395) 0%, rgba(0, 0, 0, 0.968836) 29.55%, rgba(0, 0, 0, 0.97) 100%);
  }

  .portfolio-card__map {
    height: 100px;
  }
}