@font-face {
  font-family: "atomicage";
  font-display: swap;
  src: url("../fonts/AtomicAge-Regular/AtomicAge-Regular.woff") format("woff"), url("../fonts/AtomicAge-Regular/AtomicAge-Regular.woff2") format("woff2"), url("../fonts/AtomicAge-Regular/AtomicAge-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserratalternates";
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Regular/MontserratAlternates-Regular.woff") format("woff"), url("../fonts/MontserratAlternates-Regular/MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/MontserratAlternates-Regular/MontserratAlternates-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roundedmplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-Bold/RoundedMplus1c-Bold.woff") format("woff"), url("../fonts/RoundedMplus1c-Bold/RoundedMplus1c-Bold.woff2") format("woff2"), url("../fonts/RoundedMplus1c-Bold/RoundedMplus1c-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roundedmplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-ExtraBold/RoundedMplus1c-ExtraBold.woff") format("woff"), url("../fonts/RoundedMplus1c-ExtraBold/RoundedMplus1c-ExtraBold.woff2") format("woff2"), url("../fonts/RoundedMplus1c-ExtraBold/RoundedMplus1c-ExtraBold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "roundedmplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-Light/RoundedMplus1c-Light.woff") format("woff"), url("../fonts/RoundedMplus1c-Light/RoundedMplus1c-Light.woff2") format("woff2"), url("../fonts/RoundedMplus1c-Light/RoundedMplus1c-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "roundedmplus1c";
  font-display: swap;
  src: url("../fonts/RoundedMplus1c-Regular/RoundedMplus1c-Regular.woff") format("woff"), url("../fonts/RoundedMplus1c-Regular/RoundedMplus1c-Regular.woff2") format("woff2"), url("../fonts/RoundedMplus1c-Regular/RoundedMplus1c-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 1.23;
  -webkit-text-size-adjust: 100%;
  font-family: roundedmplus1c, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-weight: 700;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: 1px solid #444;
}

a:hover,
a:active {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

picture {
  line-height: 0;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}

label,
legend,
figure {
  margin: 0;
  padding: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button {
  padding: 0;
}

button:focus {
  padding: 0;
}

.main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1476px;
  width: 100%;
}

.block-with-substrate {
  position: relative;
  padding-top: 25px;
  padding-left: 63px;
  padding-bottom: 24px;
  display: block;
  z-index: 1;
}

.block-with-substrate::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 46px;
  height: 5px;
  background-color: #39AC56;
}

.block-with-substrate::after {
  content: "";
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  left: 0;
  display: block;
  height: 100%;
  width: 93px;
  background: #DEE8EE;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  z-index: -1;
}

.block-with-substrate--visible::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  color: #39AC56;
  text-transform: none;
}

.background-figures {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.background-figures__item {
  position: absolute;
  -webkit-transition: -webkit-transform 2s linear;
  transition: -webkit-transform 2s linear;
  -o-transition: transform 2s linear;
  transition: transform 2s linear;
  transition: transform 2s linear, -webkit-transform 2s linear;
}

.background-figures__item--blot:nth-child(1) {
  left: -165px;
  top: 49px;
  width: 188px;
  height: 198px;
}

.background-figures__item--blot:nth-child(2) {
  left: -339px;
  top: 454px;
  width: 218px;
  height: 238px;
}

.background-figures__item--blot:nth-child(3) {
  right: 595px;
  top: 194px;
  width: 241px;
  height: 275px;
}

.background-figures__item--blot:nth-child(4) {
  right: -314px;
  top: 431px;
  width: 249px;
  height: 265px;
}

.background-figures__item--blot svg {
  width: 100%;
  height: 100%;
  fill: #39AC56;
  opacity: 0.3;
  stroke: rgba(255, 255, 255, 0.5);
}

.background-figures__item--figure:nth-child(1) {
  left: -141px;
  top: -147px;
  width: 256px;
  height: 285px;
  fill: #dee8ee;
  opacity: 0.25;
}

.background-figures__item--figure:nth-child(2) {
  left: -297px;
  top: 361px;
  width: 342px;
  height: 322px;
  fill: #0f7f8a;
  opacity: 0.25;
}

.background-figures__item--figure:nth-child(3) {
  right: 329px;
  top: 33px;
  width: 260px;
  height: 362px;
  opacity: 0.1;
  fill: #dee8ee;
}

.background-figures__item--figure:nth-child(4) {
  left: 273px;
  top: 424px;
  width: 260px;
  height: 362px;
  opacity: 0.1;
  fill: #dee8ee;
}

.background-figures__item--figure:nth-child(5) {
  right: -200px;
  top: 27px;
  width: 342px;
  height: 322px;
  fill: #0f7f8a;
  opacity: 0.25;
}

.background-figures__item--figure:nth-child(5) svg {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.background-figures__item--figure:nth-child(6) {
  right: -232px;
  top: 389px;
  width: 256px;
  height: 285px;
  fill: #dee8ee;
  opacity: 0.25;
}

.background-figures__item--figure:nth-child(6) svg {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.background-figures__item--figure svg {
  width: 100%;
  height: 100%;
}

.fade-leave-active {
  -webkit-animation: fadeOut 0.5s linear forwards;
          animation: fadeOut 0.5s linear forwards;
}

.fade-enter {
  visibility: hidden;
}

.fade-enter-active {
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.button {
  position: relative;
  padding: 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 4px;
  background-color: #39AC56;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47222;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
}

.button:hover::before,
.button:focus::before {
  opacity: 0.2;
}

.button[disabled] {
  cursor: text;
  pointer-events: none;
  opacity: 0.8;
}

.button--dark {
  background-color: #0F7F8A;
}

.button--light-border {
  background-color: transparent;
  border: 4px solid #DEE8EE;
  color: #DEE8EE;
}

.button--light-border:hover,
.button--light-border:focus {
  color: #DEE8EE;
}

.button--green-border {
  background-color: transparent;
  border: 4px solid #0F7F8A;
  color: #0F7F8A;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button--green-border::before {
  display: none;
}

.button--green-border:hover,
.button--green-border:focus {
  background-color: #0F7F8A;
  color: white;
}

.button--short {
  font-size: 18px;
  line-height: 1.5;
}

.gallery-slider {
  -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery-slider__header {
  padding: 16px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e7f1f7), to(#DEE8EE));
  background: -o-linear-gradient(top, #e7f1f7 0%, #DEE8EE 100%);
  background: linear-gradient(180deg, #e7f1f7 0%, #DEE8EE 100%);
  border-radius: 4px 4px 0px 0px;
}

.gallery-slider__circles {
  margin-right: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-slider__circle {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

.gallery-slider__circle:not(:last-child) {
  margin-right: 12px;
}

.gallery-slider__circle--red {
  background-color: #FF6262;
}

.gallery-slider__circle--yellow {
  background-color: #FBDE48;
}

.gallery-slider__circle--green {
  background-color: #39AC56;
}

.gallery-slider__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: -0.005em;
  color: #343434;
}

.gallery-slider__wrapper {
  position: relative;
  border: 4px solid #DEE8EE;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.gallery-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.gallery-slider__item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.gallery-slider__item picture,
.gallery-slider__item img {
  display: block;
}

.gallery-slider__arrow {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery-slider__arrow.slider-arrow--next {
  right: 16px;
  left: initial;
}

.gallery-slider__pagination {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: rgba(15, 127, 138, 0.5);
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  z-index: 1;
}

.slider-arrow svg {
  width: 28.24px;
  height: 56.12px;
}

.slider-arrow:hover {
  background-color: rgba(15, 127, 138, 0.7);
}

.slider-arrow--next svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider-arrow--disabled {
  background-color: rgba(51, 51, 51, 0.5);
  cursor: auto;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 21px 0 11px;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  -webkit-transition: background-color 0.25s ease, padding-top 0.25s ease;
  -o-transition: background-color 0.25s ease, padding-top 0.25s ease;
  transition: background-color 0.25s ease, padding-top 0.25s ease;
}

.header--not-top {
  padding: 11px 0 11px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__main-group .header__socials {
  margin-top: 8px;
}

.header__logo {
  display: block;
  width: 176.1px;
  height: 52.34px;
  line-height: 0;
  text-decoration: none;
}

.header__sub-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__sub-group .header__socials {
  margin-right: 12px;
}

.header__contacts-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  position: relative;
  margin-right: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  text-decoration: none;
  color: #0F7F8A;
}

.header__phone::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #0F7F8A;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.header__phone:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #0F7F8A;
}

.header__phone:hover::after {
  width: 0;
}

.header__feedback-btn {
  width: 216px;
  height: 40px;
}

.header__nav {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-short__item:not(:first-child) {
  margin-left: 12px;
}

.socials-short__item--instagram {
  width: 21px;
  height: 24px;
}

.socials-short__item--facebook {
  width: 15px;
  height: 24px;
}

.socials-short__item--vk {
  width: 27px;
  height: 24px;
}

.socials-short__item--telegram {
  width: 22px;
  height: 18px;
}

.socials-short__item--mail {
  width: 18px;
  height: 18px;
}

.socials-short__item--whatsapp {
  width: 16px;
  height: 18px;
}

.socials-short__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  z-index: 1;
}

.socials-short__link:hover {
  opacity: 0.8;
}

.socials-short__icon {
  width: 100%;
  height: 100%;
  fill: #0F7F8A;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:first-child) {
  margin-left: 10px;
}

.nav__link {
  position: relative;
  padding: 3px 12px;
  display: block;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  text-align: center;
  color: #0F7F8A;
  text-decoration: none;
}

.nav__link::before,
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

.nav__link::before {
  width: 1px;
  height: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#39AC56), to(white));
  background-image: -o-linear-gradient(bottom, #39AC56 0%, white 100%);
  background-image: linear-gradient(0deg, #39AC56 0%, white 100%);
  -webkit-transition: height 0.25s ease;
  -o-transition: height 0.25s ease;
  transition: height 0.25s ease;
}

.nav__link::after {
  height: 1px;
  width: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#39AC56), to(white));
  background-image: -o-linear-gradient(left, #39AC56 0%, white 100%);
  background-image: linear-gradient(90deg, #39AC56 0%, white 100%);
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.nav__link:hover {
  color: #0F7F8A;
}

.nav__link:hover::before {
  height: 100%;
}

.nav__link:hover::after {
  width: 100%;
}

.modal {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: opacity ease 0.25s;
  -o-transition: opacity ease 0.25s;
  transition: opacity ease 0.25s;
}

.modal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal__wrapper {
  position: relative;
  padding: 0 15px;
  width: 100%;
  pointer-events: none;
}

.modal__container {
  position: relative;
  margin: 130px auto;
  padding: 28px 46px 39px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 585px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 0px;
  background: white;
  pointer-events: visible;
  overflow: hidden;
}

.modal__container--upload {
  max-width: 560px;
  border-radius: 0;
}

.modal__success {
  position: relative;
  margin: 130px auto;
  padding: 41px 46px 54px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  background: white;
  pointer-events: visible;
  overflow: hidden;
}

.modal__success-icon {
  width: 51px;
  height: 51px;
  fill: transparent;
}

.modal__success-text {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  text-align: center;
  color: #888888;
}

.modal__close-btn {
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  width: 14px;
  height: 14px;
  -webkit-transition: opacity ease 0.25s;
  -o-transition: opacity ease 0.25s;
  transition: opacity ease 0.25s;
  opacity: 1;
}

.modal__close-btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 125%;
  top: -2px;
  left: 6px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close-btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 125%;
  height: 2px;
  top: 6px;
  left: -2px;
  background-color: black;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close-btn:hover {
  opacity: 0.65;
}

.modal--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal--visible {
  opacity: 1;
}

.modal__title {
  max-width: 480px;
  margin: 0 -6px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.11538;
  text-transform: uppercase;
  text-align: left;
}

.modal__form {
  margin-top: 31px;
}

.modal-form__field {
  position: relative;
  margin-top: -5px;
  margin-bottom: -5px;
  display: block;
  width: 100%;
}

.modal-form__field:not(:first-child) {
  margin-top: 22px;
}

.modal-form__field--phone .modal-form__input {
  padding-left: 50px;
}

.modal-form__field--phone svg {
  position: absolute;
  top: 22px;
  left: 16px;
  display: block;
  width: 26px;
  height: 20px;
  cursor: text;
}

.modal-form__input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 20px;
  height: 58px;
  width: 100%;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: black;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

.modal-form__input::-webkit-input-placeholder {
  color: #888888;
}

.modal-form__input::-moz-placeholder {
  color: #888888;
}

.modal-form__input:-ms-input-placeholder {
  color: #888888;
}

.modal-form__input::-ms-input-placeholder {
  color: #888888;
}

.modal-form__input::placeholder {
  color: #888888;
}

.modal-form__uload-file-title {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000000;
}

.modal-form__uload-file {
  margin-top: 13px;
}

.modal-form__agreement {
  position: relative;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
  color: #000000;
}

.modal-form__agreement-checkbox {
  margin-right: 7px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.modal-form__submit-btn {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: 50px;
  border-radius: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-shadow: initial;
  color: #ffffff;
}

.form-status {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  display: none;
  color: black;
}

.form-status--fault {
  color: #ff2222;
}

.uload-file {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.uload-file__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  z-index: -100;
}

.uload-file__input:hover + *::before {
  opacity: 0.2;
}

.uload-file__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 38px;
  background-color: #fecd00;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
}

.uload-file__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.uload-file__message {
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #000;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  background-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox input:not(:checked) + .checkbox__icon {
  display: none;
}

.checkbox__icon {
  width: 16px;
  height: 16px;
  display: block;
  fill: #000;
}

.footer {
  position: relative;
  padding-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(17.79%, white), color-stop(60.47%, #39AC56));
  background-image: -o-linear-gradient(top, white 17.79%, #39AC56 60.47%);
  background-image: linear-gradient(180deg, white 17.79%, #39AC56 60.47%);
}

.footer .container {
  padding-top: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.footer__info {
  margin-right: 32px;
  width: 462px;
}

.footer__logo {
  width: 176.1px;
  height: 52.34px;
}

.footer__requisites {
  margin-top: 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #DEE8EE;
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.005em;
  text-transform: capitalize;
  color: #DEE8EE;
}

.footer__nav-list {
  margin-top: 44px;
}

.footer__nav-item:not(:first-child) {
  margin-top: 10px;
}

.footer__nav-link {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #DEE8EE;
  text-decoration: none;
}

.footer__nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #DEE8EE;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.footer__nav-link:hover {
  color: #DEE8EE;
}

.footer__nav-link:hover::after {
  width: 100%;
}

.footer__socials {
  margin-left: auto;
  margin-right: 39px;
}

.footer__socials-list {
  margin-top: 44px;
}

.footer__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials-item:not(:first-child) {
  margin-top: 15px;
}

.footer__socials-item--instagram .footer__socials-icon svg {
  width: 21px;
  height: 24px;
}

.footer__socials-item--facebook .footer__socials-icon svg {
  width: 15px;
  height: 24px;
}

.footer__socials-item--vk .footer__socials-icon svg {
  width: 27px;
  height: 24px;
}

.footer__socials-item--telegram .footer__socials-icon svg {
  width: 22px;
  height: 18px;
}

.footer__socials-item--mail .footer__socials-icon svg {
  width: 18px;
  height: 18px;
}

.footer__socials-item--whatsapp .footer__socials-icon svg {
  width: 16px;
  height: 18px;
}

.footer__socials-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #DEE8EE;
  text-decoration: none;
}

.footer__socials-link:hover {
  color: #DEE8EE;
}

.footer__socials-link:hover .footer__socials-text::after {
  width: 100%;
}

.footer__socials-icon {
  margin-right: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
}

.footer__socials-icon svg {
  fill: #DEE8EE;
}

.footer__socials-text {
  position: relative;
}

.footer__socials-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #DEE8EE;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.footer__phone {
  position: relative;
  margin-top: 45px;
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.22917;
  letter-spacing: -0.005em;
  text-decoration: none;
  color: #DEE8EE;
}

.footer__phone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #DEE8EE;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.footer__phone:hover {
  color: #DEE8EE;
}

.footer__phone:hover::after {
  width: 100%;
}

.footer__mail {
  position: relative;
  margin-top: 25px;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  text-decoration: none;
  color: #DEE8EE;
}

.footer__mail::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #DEE8EE;
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.footer__mail:hover {
  color: #DEE8EE;
}

.footer__mail:hover::after {
  width: 100%;
}

.hero {
  position: relative;
}

.hero__cover {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(17.79%, white), to(#39AC56));
  background-image: -o-linear-gradient(top, white 17.79%, #39AC56 100%);
  background-image: linear-gradient(180deg, white 17.79%, #39AC56 100%);
  z-index: 1;
}

.hero__cover .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 702px;
}

.hero__foreground {
  margin-bottom: -77px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 954px;
  height: 615px;
  background-image: url(../img/hero/background.png);
  background-size: contain;
}

.hero__courses {
  margin-bottom: 38px;
}

.courses-short {
  width: 339px;
}

.courses-short__item {
  position: relative;
  padding: 3px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #39AC56;
  border-radius: 4px;
  -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.courses-short__item:not(:first-child) {
  margin-top: 30px;
}

.courses-short__item:last-child {
  margin-top: 60px;
  padding: 4px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.courses-short__image-wrap {
  position: relative;
  width: 46px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
}

.courses-short__image-wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

.courses-short__text-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.courses-short__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: white;
}

.courses-short__type {
  margin-top: 3px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.25;
  color: white;
}

.courses-short__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.courses-short__arrows {
  width: 32px;
  height: 24px;
}

.courses-short__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.47222;
  text-align: center;
  color: white;
}

.offer {
  padding: 103px 0 30px;
  width: 100%;
  background: rgba(254, 245, 234, 0.1);
  -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.offer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__arrow {
  width: 157px;
  height: 136px;
}

.offer__arrow--to-left {
  -webkit-transform: scale(-1) rotateX(180deg);
          transform: scale(-1) rotateX(180deg);
}

.offer__content {
  margin: 0 67px;
}

.offer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47222;
  text-align: center;
  text-transform: uppercase;
  color: #0F7F8A;
}

.offer__btn {
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 708px;
  height: 83px;
}

.achievements {
  padding-top: 50px;
}

.achievements__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achievements__item {
  margin: 0 15px;
  width: 460px;
}

.achievements__value {
  font-family: atomicage, sans-serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 1.34375;
  text-align: center;
  color: #0F7F8A;
}

.achievements__type {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.47917;
  text-align: center;
  text-transform: uppercase;
  color: #0F7F8A;
}

.classes {
  padding-top: 50px;
}

.classes__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.classes__slider {
  width: calc(100% - 490px);
}

.classes__stages {
  margin-left: 30px;
  width: 460px;
}

.classes-stages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  color: #0F7F8A;
}

.classes-stages__list {
  margin-top: 22px;
  counter-reset: classes;
}

.classes-stages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.classes-stages__item::before {
  counter-increment: classes;
  content: counter(classes) ".";
  margin-right: 12px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  color: #0F7F8A;
}

.classes-stages__item:not(:first-child) {
  margin-top: 39px;
}

.promotions {
  margin-top: 100px;
}

.promotions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promotions__item {
  padding-top: 30px;
  padding-bottom: 28px;
  padding-right: 134px;
  padding-left: 125px;
  width: 50%;
  z-index: 1;
}

.promotions__item.block-with-substrate::before {
  width: 93px;
}

.promotions__item.block-with-substrate::after {
  width: 216px;
}

.promotions__description {
  margin-top: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  color: #333333;
}

.promotions__btn {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  max-width: 702px;
  height: 60px;
  -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.courses--short {
  margin-top: 50px;
}

.courses__slider {
  margin-top: 32px;
}

.courses__list {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 30px);
}

.courses__item {
  margin: 130px 15px 100px;
  width: calc(33.33% - 30px);
}

.courses__arrow {
  display: none;
}

.courses__pagination {
  display: none;
}

.courses__btn {
  margin-left: auto;
  margin-right: auto;
  width: 702px;
  height: 60px;
  -webkit-box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.courses-card {
  position: relative;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  max-width: 462px;
  width: 100%;
  background: white;
  -webkit-box-shadow: -4px 4px 4px 4px rgba(51, 51, 51, 0.25);
          box-shadow: -4px 4px 4px 4px rgba(51, 51, 51, 0.25);
  border-radius: 50px 50px 4px 4px;
}

.courses-card__front-image {
  position: absolute;
  display: block;
  z-index: 1;
}

.courses-card__image {
  position: relative;
  margin-left: -15px;
  max-width: initial;
  width: calc(100% + 30px);
  display: block;
  border-radius: 50px 50px 0 0;
}

.courses-card__head {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses-card__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47222;
  color: #0F7F8A;
}

.courses-card__years {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  color: #DEE8EE;
}

.courses-card__desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
}

.courses-card__btns {
  margin-top: 19px;
  margin-left: -7px;
  margin-right: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 14px);
}

.courses-card__btn {
  margin: 0 7px;
  height: 60px;
  font-size: 32px;
}

.courses-card--scratch .courses-card__front-image {
  top: -202px;
  left: -82px;
}

.courses-card--minecraft .courses-card__front-image {
  top: -126px;
  left: 34px;
}

.courses-card--kodu .courses-card__front-image {
  top: -230px;
  left: 42px;
}

.courses-card--roblox .courses-card__front-image {
  top: -223px;
  left: -50px;
}

.courses-card--unity .courses-card__front-image {
  top: -146px;
  left: 33px;
}

.courses-card--web .courses-card__front-image {
  top: -230px;
  left: 42px;
}

.advantages {
  margin-top: 100px;
  padding: 50px 0 70px;
  background: rgba(254, 245, 234, 0.1);
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.advantages__list {
  margin-top: 56px;
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 30px);
}

.advantages__item {
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 30px);
}

.advantages__image {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__image--family svg {
  width: 164px;
  height: 125px;
}

.advantages__image--people svg {
  width: 150px;
  height: 150px;
}

.advantages__image--clock svg {
  width: 125px;
  height: 125px;
}

.advantages__image--machine-learning svg {
  width: 125px;
  height: 125px;
}

.advantages__name {
  margin-top: 11px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #0F7F8A;
}

.advantages__text {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 70px;
}

.reviews__slider {
  position: relative;
  margin-top: 44px;
}

.reviews__wrapper {
  position: relative;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.reviews__item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.reviews__arrow {
  position: absolute;
  top: calc(50% + 20px);
  left: -126px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews__arrow.slider-arrow--next {
  right: -126px;
  left: initial;
}

.reviews__pagination {
  margin-top: 20px;
  display: none;
}

.reviews-card {
  position: relative;
  padding: 65px 15px 25px;
  background: white;
  -webkit-box-shadow: -4px 4px 4px 4px rgba(51, 51, 51, 0.25);
          box-shadow: -4px 4px 4px 4px rgba(51, 51, 51, 0.25);
  border-radius: 4px;
}

.reviews-card__image {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews-card__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #333333;
}

.reviews-card__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #DEE8EE;
}

.reviews-card__text {
  margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
}

.application {
  position: relative;
  padding-top: 49px;
  padding-bottom: 92px;
  background-color: #39AC56;
  -webkit-box-shadow: inset 0px 0px 6px 4px rgba(15, 127, 138, 0.5);
          box-shadow: inset 0px 0px 6px 4px rgba(15, 127, 138, 0.5);
  z-index: 1;
  overflow: hidden;
}

.application__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.47222;
  text-align: center;
  text-transform: uppercase;
  color: #DEE8EE;
}

.application__title b {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.47917;
  color: white;
}

.application__form {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.application__field {
  margin-top: 50px;
}

.application__privacy-policy {
  margin-top: 28px;
}

.application__submit-btn {
  margin-top: 31px;
}

.form__input {
  padding-left: 15px;
  width: 100%;
  height: 50px;
  background: rgba(222, 232, 238, 0.25);
  border: 1px solid #DEE8EE;
  border-radius: 4px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.005em;
  color: white;
}

.form__input::-webkit-input-placeholder {
  color: white;
}

.form__input::-moz-placeholder {
  color: white;
}

.form__input:-ms-input-placeholder {
  color: white;
}

.form__input::-ms-input-placeholder {
  color: white;
}

.form__input::placeholder {
  color: white;
}

.form__privacy-policy {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.22222;
  text-align: center;
  letter-spacing: -0.005em;
  color: white;
}

.form__privacy-policy a,
.form__privacy-policy a:hover {
  color: inherit;
}

.faq {
  padding: 102px 0 39px;
}

.faq__list {
  margin-top: 50px;
  border-top: 1px solid #0F7F8A;
}

.faq__item {
  border-bottom: 1px solid #0F7F8A;
}

.faq__item--active .faq__btn::after {
  -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotateZ(0deg);
}

.faq__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.faq__question {
  padding: 25px 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  color: #333333;
}

.faq__btn {
  position: relative;
  margin-left: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #0F7F8A;
  background-color: #14aab8;
}

.faq__btn::before,
.faq__btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 53%;
  height: 3px;
  background-color: #DEE8EE;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.faq__btn::after {
  -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotateZ(90deg);
}

.faq__body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.25s ease;
  -o-transition: max-height 0.25s ease;
  transition: max-height 0.25s ease;
}

.faq__text {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 86px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: -0.005em;
  color: black;
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 30px;
  }

  .header {
    padding: 18px 0 9px;
  }

  .header--not-top {
    padding: 9px 0 9px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 22px;
  }

  .header__logo {
    width: 50px;
  }

  .modal__container {
    padding: 30px 20px 20px;
  }

  .modal__success {
    padding: 30px 20px 20px;
  }

  .modal__close-btn {
    top: 45px;
  }

  .modal__title {
    font-size: 18px;
  }

  .modal-form__field {
    margin-top: -2px;
    margin-bottom: -2px;
  }

  .modal-form__field:not(:first-child) {
    margin-top: 14px;
  }

  .modal-form__input {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .modal-form__uload-file-title {
    font-size: 16px;
  }

  .modal-form__agreement {
    margin-top: 20px;
    padding-left: 0;
  }

  .modal-form__submit-btn {
    margin-top: 25px;
  }

  .checkbox {
    width: 18px;
    height: 18px;
  }

  .checkbox__icon {
    width: 10px;
    height: 10px;
  }
}